.country {
    border: 3px solid salmon;
    padding: 20px;
    border-radius: 15px;
}

button {
    padding: 8px 10px;
    background: rgb(46, 46, 46);

    border-radius: 10px;
    margin: 20px auto;
}

.country-visited {
    border: 3px solid greenyellow;
    
}